
@{
    ViewData["Title"] = "Index";
}

<body data-rsssl=1
      class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
    <div class="body-wrapper  float-menu" data-home="https://demo.goodlayers.com/greennature/">
        <!-- is search -->
     

        <div class="greennature-page-title-wrapper header-style-5-title-wrapper">
            <div class="greennature-page-title-overlay"></div>
            <div class="greennature-page-title-container container">
                <h1 class="greennature-page-title">Gallery</h1>
                <!-- <span class="greennature-page-caption">Caption placed here</span> -->
            </div>
        </div>
        <!-- is search -->
        <div class="content-wrapper">
            <div class="greennature-content">

                <!-- Above Sidebar Section-->
                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                    <div class="with-sidebar-container container">
                        <div class="with-sidebar-left twelve columns">
                            <div class="with-sidebar-content twelve columns">
                                <section id="content-section-1">
                                    <div class="section-container container">
                                        <div class="portfolio-item-wrapper type-classic-portfolio">

                                            <div class="filter clearfix gdlr-core-filterer-wrap gdlr-core-js  gdlr-core-item-pdlr gdlr-core-style-text gdlr-core-center-align">
                                                <ul>
                                                    <li><a href="#" class="active" data-filter="*">All</a></li>
                                                    <li><a href="#" data-filter=".class1">Pictures</a></li>
                                                    <li><a href="#" data-filter=".class2">Videos</a></li>
                                                    <!-- <li><a href="#" data-filter=".class3">Volunteer</a></li> -->
                                                </ul>
                                            </div>

                                            <div class="portfolio-item-holder  greennature-portfolio-column-2">
                                                <div class="greennature-isotope filter-container" data-type="portfolio" data-layout="masonry">
                                                    <div class="clear"></div>
                                                    <div class="three columns class1">
                                                        <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                            <div class="greennature-ux greennature-classic-portfolio-ux">
                                                                <div class="portfolio-thumbnail greennature-image">
                                                                    <img src="upload/shutterstock_161515241-400x300.jpg" alt="" width="400"
                                                                         height="300" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="upload/shutterstock_161515241.jpg"
                                                                                                                                        data-rel="fancybox">
                                                                        <span class="portfolio-icon">
                                                                            <i class="fa fa-image"></i>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div class="portfolio-classic-content">
                                                                    <h3 class="portfolio-title">
                                                                        <a href="http://max-themes.net/demos/portfolio/wind-energy/index.html">
                                                                            Wind
                                                                            Energy
                                                                        </a>
                                                                    </h3>
                                                                    <div class="greennature-portfolio-info">
                                                                        <div class="portfolio-info portfolio-tag">
                                                                            <span class="info-head greennature-title">Tags </span><a href="http://max-themes.net/demos/portfolio_tag/environment/index.html"
                                                                                                                                     rel="tag">Environment</a><span class="sep">,</span> <a href="http://max-themes.net/demos/portfolio_tag/renewable-energy/index.html"
                                                                                                                                                                                            rel="tag">Renewable Energy</a>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="portfolio-excerpt">
                                                                        Lorem ipsum dolor sit amet, consectetur adipisici elit,
                                                                        sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Vivamus sagittis...
                                                                        <div class="clear"></div><a href="http://max-themes.net/demos/portfolio/wind-energy/index.html"
                                                                                                    class="excerpt-read-more">Read More</a>
                                                                    </div><a class="portfolio-classic-learn-more"
                                                                             href="http://max-themes.net/demos/portfolio/wind-energy/index.html">Learn More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="three columns class1">
                                                        <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                            <div class="greennature-ux greennature-classic-portfolio-ux">
                                                                <div class="portfolio-thumbnail greennature-image">
                                                                    <img src="upload/shutterstock_133689230-400x300.jpg" alt="" width="400"
                                                                         height="300" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                                                                                                                                        href="http://max-themes.net/demos/portfolio/elephant-sanctuary/index.html">
                                                                        <span class="portfolio-icon"><i class="fa fa-image"></i></span>
                                                                    </a>
                                                                </div>
                                                                <div class="portfolio-classic-content">
                                                                    <h3 class="portfolio-title">
                                                                        <a href="http://max-themes.net/demos/portfolio/elephant-sanctuary/index.html">
                                                                            Elephant
                                                                            Sanctuary
                                                                        </a>
                                                                    </h3>
                                                                    <div class="greennature-portfolio-info">
                                                                        <div class="portfolio-info portfolio-tag">
                                                                            <span class="info-head greennature-title">Tags </span><a href="http://max-themes.net/demos/portfolio_tag/african/index.html"
                                                                                                                                     rel="tag">African</a><span class="sep">,</span> <a href="http://max-themes.net/demos/portfolio_tag/animals/index.html"
                                                                                                                                                                                        rel="tag">Animals</a>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="portfolio-excerpt">
                                                                        Lorem ipsum dolor sit amet, consectetur adipisici elit,
                                                                        sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Vivamus sagittis...
                                                                        <div class="clear"></div><a href="http://max-themes.net/demos/portfolio/elephant-sanctuary/index.html"
                                                                                                    class="excerpt-read-more">Read More</a>
                                                                    </div><a class="portfolio-classic-learn-more"
                                                                             href="http://max-themes.net/demos/portfolio/elephant-sanctuary/index.html">
                                                                        Learn
                                                                        More
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="three columns class2">
                                                        <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                            <div class="greennature-ux greennature-classic-portfolio-ux">
                                                                <div class="portfolio-thumbnail greennature-image">
                                                                    <img src="upload/shutterstock_53600221-400x300.jpg" alt="" width="400"
                                                                         height="300" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="https://vimeo.com/101707505"
                                                                                                                                        data-rel="fancybox" data-fancybox-type="iframe">
                                                                        <span class="portfolio-icon">
                                                                            <i class="fa fa-play"></i>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div class="portfolio-classic-content">
                                                                    <h3 class="portfolio-title">
                                                                        <a href="http://max-themes.net/demos/portfolio/conservation-volunteering/index.html">
                                                                            Conservation
                                                                            Volunteer
                                                                        </a>
                                                                    </h3>
                                                                    <div class="greennature-portfolio-info">
                                                                        <div class="portfolio-info portfolio-tag">
                                                                            <span class="info-head greennature-title">Tags </span><a href="http://max-themes.net/demos/portfolio_tag/cleaning/index.html"
                                                                                                                                     rel="tag">Cleaning</a><span class="sep">,</span> <a href="http://max-themes.net/demos/portfolio_tag/volunteer/index.html"
                                                                                                                                                                                         rel="tag">Volunteer</a>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="portfolio-excerpt">
                                                                        Lorem ipsum dolor sit amet, consectetur adipisici elit,
                                                                        sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Vivamus sagittis...
                                                                        <div class="clear"></div><a href="http://max-themes.net/demos/portfolio/conservation-volunteering/index.html"
                                                                                                    class="excerpt-read-more">Read More</a>
                                                                    </div><a class="portfolio-classic-learn-more"
                                                                             href="http://max-themes.net/demos/portfolio/conservation-volunteering/index.html">
                                                                        Learn
                                                                        More
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="three columns class1">
                                                        <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                            <div class="greennature-ux greennature-classic-portfolio-ux">
                                                                <div class="portfolio-thumbnail greennature-image">
                                                                    <img src="upload/shutterstock_124871620-400x300.jpg" alt="" width="400"
                                                                         height="300" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                                                                                                                                        href="http://max-themes.net/demos/portfolio/engery-conservation/index.html">
                                                                        <span class="portfolio-icon"><i class="fa fa-image"></i></span>
                                                                    </a>
                                                                </div>
                                                                <div class="portfolio-classic-content">
                                                                    <h3 class="portfolio-title">
                                                                        <a href="http://max-themes.net/demos/portfolio/engery-conservation/index.html">
                                                                            Engery
                                                                            Conservation
                                                                        </a>
                                                                    </h3>
                                                                    <div class="greennature-portfolio-info">
                                                                        <div class="portfolio-info portfolio-tag">
                                                                            <span class="info-head greennature-title">Tags </span><a href="http://max-themes.net/demos/portfolio_tag/animals/index.html"
                                                                                                                                     rel="tag">Animals</a><span class="sep">,</span> <a href="http://max-themes.net/demos/portfolio_tag/volunteer/index.html"
                                                                                                                                                                                        rel="tag">Volunteer</a>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="portfolio-excerpt">
                                                                        Lorem ipsum dolor sit amet, consectetur adipisici elit,
                                                                        sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Vivamus sagittis...
                                                                        <div class="clear"></div><a href="http://max-themes.net/demos/portfolio/engery-conservation/index.html"
                                                                                                    class="excerpt-read-more">Read More</a>
                                                                    </div><a class="portfolio-classic-learn-more"
                                                                             href="http://max-themes.net/demos/portfolio/engery-conservation/index.html">
                                                                        Learn
                                                                        More
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="three columns class1">
                                                        <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                            <div class="greennature-ux greennature-classic-portfolio-ux">
                                                                <div class="portfolio-thumbnail greennature-image">
                                                                    <img src="upload/shutterstock_281995004-400x300.jpg" alt="" width="400"
                                                                         height="300" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                                                                                                                                        href="http://max-themes.net/demos/portfolio/video-inside-this-post/index.html">
                                                                        <span class="portfolio-icon"><i class="fa fa-image"></i></span>
                                                                    </a>
                                                                </div>
                                                                <div class="portfolio-classic-content">
                                                                    <h3 class="portfolio-title">
                                                                        <a href="http://max-themes.net/demos/portfolio/video-inside-this-post/index.html">
                                                                            Video
                                                                            inside this post
                                                                        </a>
                                                                    </h3>
                                                                    <div class="greennature-portfolio-info">
                                                                        <div class="portfolio-info portfolio-tag">
                                                                            <span class="info-head greennature-title">Tags </span><a href="http://max-themes.net/demos/portfolio_tag/earth/index.html"
                                                                                                                                     rel="tag">Earth</a><span class="sep">,</span> <a href="http://max-themes.net/demos/portfolio_tag/environment/index.html"
                                                                                                                                                                                      rel="tag">Environment</a>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="portfolio-excerpt">
                                                                        Lorem ipsum dolor sit amet, consectetur adipisici elit,
                                                                        sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Vivamus sagittis...
                                                                        <div class="clear"></div><a href="http://max-themes.net/demos/portfolio/video-inside-this-post/index.html"
                                                                                                    class="excerpt-read-more">Read More</a>
                                                                    </div><a class="portfolio-classic-learn-more"
                                                                             href="http://max-themes.net/demos/portfolio/video-inside-this-post/index.html">
                                                                        Learn
                                                                        More
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="three columns class2">
                                                        <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                            <div class="greennature-ux greennature-classic-portfolio-ux">
                                                                <div class="portfolio-thumbnail greennature-image">
                                                                    <img src="upload/shutterstock_256181956-400x300.jpg" alt="" width="400"
                                                                         height="300" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="upload/shutterstock_256181956.jpg"
                                                                                                                                        data-rel="fancybox">
                                                                        <span class="portfolio-icon">
                                                                            <i class="fa fa-play"></i>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div class="portfolio-classic-content">
                                                                    <h3 class="portfolio-title">
                                                                        <a href="http://max-themes.net/demos/portfolio/kids-can-volunteer/index.html">
                                                                            Kids
                                                                            Can Volunteer
                                                                        </a>
                                                                    </h3>
                                                                    <div class="greennature-portfolio-info">
                                                                        <div class="portfolio-info portfolio-tag">
                                                                            <span class="info-head greennature-title">Tags </span><a href="http://max-themes.net/demos/portfolio_tag/donation/index.html"
                                                                                                                                     rel="tag">Donation</a><span class="sep">,</span> <a href="http://max-themes.net/demos/portfolio_tag/volunteer/index.html"
                                                                                                                                                                                         rel="tag">Volunteer</a>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="portfolio-excerpt">
                                                                        Lorem ipsum dolor sit amet, consectetur adipisici elit,
                                                                        sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Vivamus sagittis...
                                                                        <div class="clear"></div><a href="http://max-themes.net/demos/portfolio/kids-can-volunteer/index.html"
                                                                                                    class="excerpt-read-more">Read More</a>
                                                                    </div><a class="portfolio-classic-learn-more"
                                                                             href="http://max-themes.net/demos/portfolio/kids-can-volunteer/index.html">
                                                                        Learn
                                                                        More
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="three columns class2">
                                                        <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                            <div class="greennature-ux greennature-classic-portfolio-ux">
                                                                <div class="portfolio-thumbnail greennature-image">
                                                                    <img src="upload/shutterstock_161515241-400x300.jpg" alt="" width="400"
                                                                         height="300" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="upload/shutterstock_161515241.jpg"
                                                                                                                                        data-rel="fancybox">
                                                                        <span class="portfolio-icon">
                                                                            <i class="fa fa-play"></i>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div class="portfolio-classic-content">
                                                                    <h3 class="portfolio-title">
                                                                        <a href="http://max-themes.net/demos/portfolio/wind-energy/index.html">
                                                                            Wind
                                                                            Energy
                                                                        </a>
                                                                    </h3>
                                                                    <div class="greennature-portfolio-info">
                                                                        <div class="portfolio-info portfolio-tag">
                                                                            <span class="info-head greennature-title">Tags </span><a href="http://max-themes.net/demos/portfolio_tag/environment/index.html"
                                                                                                                                     rel="tag">Environment</a><span class="sep">,</span> <a href="http://max-themes.net/demos/portfolio_tag/renewable-energy/index.html"
                                                                                                                                                                                            rel="tag">Renewable Energy</a>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="portfolio-excerpt">
                                                                        Lorem ipsum dolor sit amet, consectetur adipisici elit,
                                                                        sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Vivamus sagittis...
                                                                        <div class="clear"></div><a href="http://max-themes.net/demos/portfolio/wind-energy/index.html"
                                                                                                    class="excerpt-read-more">Read More</a>
                                                                    </div><a class="portfolio-classic-learn-more"
                                                                             href="http://max-themes.net/demos/portfolio/wind-energy/index.html">Learn More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="three columns class1">
                                                        <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                            <div class="greennature-ux greennature-classic-portfolio-ux">
                                                                <div class="portfolio-thumbnail greennature-image">
                                                                    <img src="upload/shutterstock_133689230-400x300.jpg" alt="" width="400"
                                                                         height="300" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                                                                                                                                        href="http://max-themes.net/demos/portfolio/elephant-sanctuary/index.html">
                                                                        <span class="portfolio-icon"><i class="fa fa-play"></i></span>
                                                                    </a>
                                                                </div>
                                                                <div class="portfolio-classic-content">
                                                                    <h3 class="portfolio-title">
                                                                        <a href="http://max-themes.net/demos/portfolio/elephant-sanctuary/index.html">
                                                                            Elephant
                                                                            Sanctuary
                                                                        </a>
                                                                    </h3>
                                                                    <div class="greennature-portfolio-info">
                                                                        <div class="portfolio-info portfolio-tag">
                                                                            <span class="info-head greennature-title">Tags </span><a href="http://max-themes.net/demos/portfolio_tag/african/index.html"
                                                                                                                                     rel="tag">African</a><span class="sep">,</span> <a href="http://max-themes.net/demos/portfolio_tag/animals/index.html"
                                                                                                                                                                                        rel="tag">Animals</a>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="portfolio-excerpt">
                                                                        Lorem ipsum dolor sit amet, consectetur adipisici elit,
                                                                        sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Vivamus sagittis...
                                                                        <div class="clear"></div><a href="http://max-themes.net/demos/portfolio/elephant-sanctuary/index.html"
                                                                                                    class="excerpt-read-more">Read More</a>
                                                                    </div><a class="portfolio-classic-learn-more"
                                                                             href="http://max-themes.net/demos/portfolio/elephant-sanctuary/index.html">
                                                                        Learn
                                                                        More
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="greennature-pagination greennature-ajax">
                                                <span class="page-numbers current" data-paged="1">1</span> <a class="page-numbers"
                                                                                                              data-paged="2">2</a> <a class="next page-numbers" data-paged="2"> Next &rsaquo;</a>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </section>
                            </div>

                            <div class="clear"></div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>

                <!-- Below Sidebar Section-->

            </div>
            <!-- greennature-content -->
            <div class="clear"></div>
        </div>
        <!-- content wrapper -->







    </div>
    <!-- body-wrapper -->






</body>

