
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body data-rsssl=1
      class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
    <div class="body-wrapper  float-menu" data-home="https://demo.goodlayers.com/greennature/">

        <!-- is search -->


        <div class="content-wrapper">
            <div class="greennature-content">

                <!-- Above Sidebar Section-->
                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                    <section id="content-section-1">
                        <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"
                             id="greennature-parallax-wrapper-1" data-bgspeed="0"
                             style="background-image: url('https://images.unsplash.com/photo-1507643179773-3e975d7ac515?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'); padding-top: 260px; padding-bottom: 140px;  width: 100%; background-size:cover">
                            <div class="container">
                                <div class="greennature-title-item">
                                    <div class="greennature-item-title-wrapper greennature-item  greennature-center greennature-extra-large ">
                                        <div class="greennature-item-title-container container">
                                            <div class="greennature-item-title-head">
                                                <h2 class="greennature-item-title greennature-skin-title greennature-skin-border">

                                                    MEMBERSHIP
                                                </h2>
                                                <!-- <div class="greennature-item-title-caption greennature-skin-info">Condimentum Ipsum Vestibulum
                                    </div> -->
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>

                    


                    <section id="content-section-2">
                        <div class="greennature-color-wrapper  gdlr-show-all no-skin greennature-half-bg-wrapper"
                             style="background-color: #fafafa; ">
                            <div class="greennature-half-bg greennature-bg-solid"
                                 style="background-image: url(https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=763&q=80);">
                            </div>
                            <div class="container">
                                <div class="six columns"></div>
                                <div class="six columns">
                                    <div class="greennature-item greennature-about-us-item greennature-normal">
                                        <div class="about-us-title-wrapper">
                                            <h4 class="about-us-title" style="color:#0d550c">Membership BENEFITS</h4>
                                        </div>
                                        <div class="about-us-title-divider"></div>
                                    </div>
                                    <div class="about-us-content-wrapper">
                                        <ul>
                                            <li>
                                                <h5>Exclusively curated menus that cannot be found anywhere else</h5>
                                            </li>
                                            <li>
                                                <h5>Discount codes from partner food brands</h5>
                                            </li>
                                            <li>
                                                <!-- <i class='bx bx-check'></i> -->
                                                <h5>Monthly offers from partner restaurant of the month</h5>
                                            </li>
                                            <li>
                                                <!-- <i class='bx bx-check'></i> -->
                                                <h5>The opportunity to explore new restaurants before launch</h5>
                                            </li>
                                            <li>
                                                <!-- <i class='bx bx-check'></i> -->
                                                <h5>
                                                    An opportunity to be a part of the process of curating restaurant menus and helping
                                                    Nigerian restaurants grow.
                                                </h5>
                                            </li>
                                            <li>
                                                <!-- <i class='bx bx-check'></i> -->
                                                <h5>Access to the unconventional</h5>
                                            </li>

                                        </ul>
                                        <!-- <a class="about-us-read-more greennature-button" href="#">Read More</a> -->
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                </div>
                <div class="clear"></div>
                </section>




                <br>
                <section id="content-section-4">
                    <div class="greennature-color-wrapper   " style="background-color: #ffffff; ">
                        <div class="container">
                            <div class="greennature-title-item" style="margin-bottom: 40px;">
                                <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
                                    <div class="greennature-item-title-container container">
                                        <div class="greennature-item-title-head">
                                            <h3 class="greennature-item-title greennature-skin-title greennature-skin-border"
                                                style="text-align:center;">
                                                Membership Plan
                                            </h3>
                                            </h3>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="greennature-personnel-item-wrapper">
                                <div class="clear"></div>
                                <div class="four columns">
                                    <div class="greennature-item greennature-personnel-item greennature-left plain-style"
                                         style="background-color: #0d550c; border-radius: 5px;">
                                        <div class="greennature-ux greennature-personnel-ux">
                                            <div class="personnel-item">
                                                <!-- <div class="personnel-author-image greennature-skin-border"><img src="upload/personnel-3.jpg"
                                                          alt="" width="500" height="297" /></div> -->
                                                <div class="personnel-info">
                                                    <h5 style="text-align:center; color:white">
                                                        Amuse-Bouche
                                                    </h5>
                                                    <h1 style="text-align:center;color:white;">
                                                        N1,800,000.
                                                    </h1>
                                                </div>
                                                <div class="personnel-content greennature-skin-content">
                                                    <ul style="color:white; font-size:16px">
                                                        <li>
                                                            Membership is selective with options for those who are living temporarily in Lagos,
                                                            those
                                                            who live outside of Lagos and
                                                            of course outside of Nigeria.
                                                        </li>

                                                        <li>
                                                            Membership is selective with options for those who are living temporarily in Lagos,
                                                            those
                                                            who live outside of Lagos and
                                                            of course outside of Nigeria.
                                                        </li>

                                                        <li>
                                                            Membership is selective with options for those who are living temporarily in Lagos,
                                                            those
                                                            who live outside of Lagos and
                                                            of course outside of Nigeria.
                                                        </li>
                                                    </ul>

                                                </div>

                                            </div>
                                        </div>
                                        <a class="about-us-read-more greennature-button" href="#" onclick="Amount('Amuse-Bouche')"
                                           style="margin-left: 70px; background-color: #fff; color:#0d550c; text-align: center; width: 40%;">
                                            join
                                        </a>
                                    </div>

                                </div>
                                <div class="four columns">
                                    <div class="greennature-item greennature-personnel-item greennature-left plain-style"
                                         style="background-color: #0d550c;  border-radius: 5px;">
                                        <div class="greennature-ux greennature-personnel-ux">
                                            <div class="personnel-item">
                                                <!-- <div class="personnel-author-image greennature-skin-border"><img src="upload/personnel-3.jpg"
                                        alt="" width="500" height="297" /></div> -->
                                                <div class="personnel-info">
                                                    <h5 style="text-align:center; color:white">
                                                        Hors d'oeures </h4>
                                                        <h1 style="text-align:center;color:white;">
                                                            N1,260,000
                                                        </h1>
                                                </div>
                                                <div class="personnel-content greennature-skin-content">
                                                    <ul style="color:white; font-size:16px">
                                                        <li>
                                                            Membership is selective with options for those who are living temporarily in Lagos,
                                                            those
                                                            who live outside of Lagos and
                                                            of course outside of Nigeria.
                                                        </li>
                                                        <li>
                                                            Membership is selective with options for those who are living temporarily in Lagos,
                                                            those
                                                            who live outside of Lagos and
                                                            of course outside of Nigeria.
                                                        </li>
                                                        <li>
                                                            Membership is selective with options for those who are living temporarily in Lagos,
                                                            those
                                                            who live outside of Lagos and
                                                            of course outside of Nigeria.
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <a class="about-us-read-more greennature-button" href="#" onclick="Amount('Hors d oeures')"
                                           style="margin-left: 70px; background-color: #fff; color:#0d550c; text-align: center; width: 40%;">
                                            join
                                        </a>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-item greennature-personnel-item greennature-left plain-style"
                                         style="background-color: #0d550c; border-radius: 5px;">
                                        <div class="greennature-ux greennature-personnel-ux">
                                            <div class="personnel-item">
                                                <!-- <div class="personnel-author-image greennature-skin-border"><img src="upload/personnel-3.jpg"
                                                          alt="" width="500" height="297" /></div> -->
                                                <div class="personnel-info">
                                                    <h5 style="text-align:center; color:white">
                                                        Entree
                                                    </h5>
                                                    <h1 style="text-align:center;color:white;">
                                                        N1,250,000
                                                    </h1>
                                                </div>
                                                <div class="personnel-content greennature-skin-content">
                                                    <ul style="color:white; font-size:16px">
                                                        <li>
                                                            Membership is selective with options for those who are living temporarily in Lagos,
                                                            those
                                                            who live outside of Lagos and
                                                            of course outside of Nigeria.
                                                        </li>
                                                        <li>
                                                            Membership is selective with options for those who are living temporarily in Lagos,
                                                            those
                                                            who live outside of Lagos and
                                                            of course outside of Nigeria.
                                                        </li>
                                                        <li>
                                                            Membership is selective with options for those who are living temporarily in Lagos,
                                                            those
                                                            who live outside of Lagos and
                                                            of course outside of Nigeria.
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <a class="about-us-read-more greennature-button" onclick="Amount('Entree')"
                                           style="margin-left: 70px; background-color: #fff; color:#0d550c; text-align: center; width: 40%;">
                                            join
                                        </a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="four columns">
                                    <div class="greennature-item greennature-personnel-item greennature-left plain-style">
                                        <div class="greennature-ux greennature-personnel-ux">
                                            <div class="personnel-item">
                                                <div class="personnel-author-image greennature-skin-border"></div>
                                                <div class="personnel-info"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </section>

                <br>








            </div>
                <!-- Below Sidebar Section-->

            </div>
            <!-- greennature-content -->
            <div class="clear"></div>
        </div>

        <!-- content wrapper -->





    </div>
    <!-- body-wrapper -->

    

    <div class="greennature-payment-lightbox-overlay" id="greennature-payment-lightbox-overlay"></div>
    <div class="greennature-payment-lightbox-container" id="greennature-payment-lightbox-container">

    </div>
    </div>


</body>

<script>
    
    function Amount(package) {
        
        window.location.href = "/Register?package="+package;
        //jQuery.ajax({
        //    type: "POST",
        //    // traditional: true,
        //    cache: false,
        //    url: "/Register",
        

        //});
       
    }
</script>