@{
    ViewData["Title"] = "Home Page";
}

<body data-rsssl=1
      class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
    <div class="body-wrapper  float-menu" data-home="https://demo.goodlayers.com/greennature/">

        <!-- is search -->
        <div class="content-wrapper">
            <div class="greennature-content">

                <!-- Above Sidebar Section-->
                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                    <section id="content-section-1">
                        <div class="greennature-full-size-wrapper gdlr-show-all no-skin"
                             style="padding-bottom: 0px;  background-color: #ffffff; ">
                            <div class="greennature-master-slider-item greennature-slider-item greennature-item"
                                 style="margin-bottom: 0px;">
                                <!-- MasterSlider -->
                                <div id="P_slider_1" class="master-slider-parent ms-parent-id-1">

                                    <!-- MasterSlider Main -->
                                    <div id="slider_1" class="master-slider ms-skin-default">

                                        <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                            <img src="plugins/masterslider/public/assets/css/blank.gif" alt="" title=""
                                                 data-src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" />

                                            <a href="/BecomeMember" target="_self"
                                               class="ms-layer ms-btn ms-btn-round ms-btn-n msp-preset-btn-159"
                                               data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="400"
                                               data-delay="987" data-ease="easeOutQuint" data-type="button"
                                               data-offset-x="1" data-offset-y="208" data-origin="ml"
                                               data-position="normal">Become a Member</a>



                                            <div class="ms-layer  msp-cn-1-2" style=""
                                                 data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="425"
                                                 data-delay="325" data-ease="easeOutQuint" data-offset-x="0"
                                                 data-offset-y="-5" data-origin="ml" data-position="normal">
                                                The Dining Club
                                            </div>

                                            <div class="ms-layer  msp-cn-1-1" style=""
                                                 data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="350"
                                                 data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-100"
                                                 data-origin="ml" data-position="normal">
                                                Welcome to
                                            </div>



                                        </div>
                                        <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                            <img src="plugins/masterslider/public/assets/css/blank.gif" alt="" title=""
                                                 data-src="https://images.unsplash.com/photo-1510743006598-4845616e044f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" />

                                            <a href="#" target="_self"
                                               class="ms-layer ms-btn ms-btn-round ms-btn-n msp-preset-btn-159"
                                               data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="400"
                                               data-delay="987" data-ease="easeOutQuint" data-type="button"
                                               data-offset-x="1" data-offset-y="227" data-origin="ml"
                                               data-position="normal">Learn More</a>

                                            <div class="ms-layer  msp-cn-1-9" style=""
                                                 data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437"
                                                 data-delay="625" data-ease="easeOutQuint" data-offset-x="0"
                                                 data-offset-y="139" data-origin="ml" data-position="normal">
                                                with Your Event
                                            </div>

                                            <div class="ms-layer  msp-cn-1-7" style=""
                                                 data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437"
                                                 data-delay="625" data-ease="easeOutQuint" data-offset-x="383"
                                                 data-offset-y="139" data-origin="ml" data-position="normal">
                                            </div>

                                            <div class="ms-layer  msp-cn-1-5" style=""
                                                 data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="350"
                                                 data-ease="easeOutQuint" data-offset-x="0" data-offset-y="52"
                                                 data-origin="ml" data-position="normal">
                                                Let's Help
                                            </div>

                                        </div>
                                        <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                            <img src="plugins/masterslider/public/assets/css/blank.gif" alt="" title=""
                                                 data-src="https://images.pexels.com/photos/1181438/pexels-photo-1181438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />

                                            <div class="ms-layer  msp-cn-1-10" style=""
                                                 data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="425"
                                                 data-delay="425" data-ease="easeOutQuint" data-offset-x="0"
                                                 data-offset-y="82" data-origin="mc" data-position="normal">
                                                Of services
                                            </div>

                                            <div class="ms-layer  msp-cn-1-13" style=""
                                                 data-effect="t(true,n,n,500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437"
                                                 data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-15"
                                                 data-origin="mc" data-position="normal">
                                                We Offer The
                                            </div>

                                        </div>

                                    </div>

                                </div>


                            </div>
                            <div class="clear"></div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </section>

                    <br>
                    <div class="with-sidebar-wrapper">
                        <section id="content-section-1">
                            <h3 style="text-align:center;font-weight:bolder;color:#0d550c;">
                                The Dining Club
                            </h3>


                            <div class="portfolio-item-wrapper type-classic-portfolio"
                                 style=" text-align: center; font-size: 20px;">
                                <div class="portfolio-item-holder  greennature-portfolio-column-3">
                                    <div class=" container list-with-icon-caption">
                                        <p>
                                            IRIRI was founded on the premise of providing exclusive and unique
                                            experiences for
                                            gourmets and thrill-seekers in Lagos, Nigeria as we noticed that this was
                                            lacking in the city.
                                            On mapping out a solution, we also realized that although Lagos was home to
                                            some of the
                                            world’s most qualified chefs, several of them were underappreciated and
                                            needed to be
                                            introduced to aficionados who would honour their craft.
                                        </p>
                                    </div>




                                    <div class="container portfolio-item-wrapper type-classic-portfolio">
                                        <div class="portfolio-item-holder  greennature-portfolio-column-4">
                                            <div class="greennature-isotope" data-type="portfolio"
                                                 data-layout="fitRows">
                                                <div class="clear"></div>
                                                <div class="three columns">
                                                    <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                        <div class="greennature-ux greennature-classic-portfolio-ux">
                                                            <div class="portfolio-thumbnail greennature-image">
                                                                <img src="https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                                                                     alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                                                                                                                                                       href="https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                                                                                                                                                       data-rel="fancybox">
                                                                    <span class="portfolio-icon">
                                                                        <i class="fa fa-link"></i>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="portfolio-classic-content">
                                                                <h3 class="portfolio-title">
                                                                    <a href="https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"></a>
                                                                </h3>
                                                                <div class="greennature-portfolio-info">
                                                                    <div class="portfolio-info portfolio-tag">
                                                                        <span class="info-head greennature-title">
                                                                            Tags
                                                                        </span><a href="https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                                                                                  rel="tag"></a><span class="sep">
                                                                            ,
                                                                        </span>
                                                                        <!-- <a href="#"
                                                                rel="tag">Renewable Energy</a> -->
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="portfolio-excerpt">
                                                                    <div class="clear"></div><a href="https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                                                                                                class="excerpt-read-more"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="three columns">
                                                    <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                        <div class="greennature-ux greennature-classic-portfolio-ux">
                                                            <div class="portfolio-thumbnail greennature-image">
                                                                <img src="https://images.unsplash.com/photo-1515169067868-5387ec356754?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                                                                     alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                                                                                                                                                       href="https://images.unsplash.com/photo-1515169067868-5387ec356754?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
                                                                    <span class="portfolio-icon">
                                                                        <i class="fa fa-link"></i>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="portfolio-classic-content">
                                                                <h3 class="portfolio-title">
                                                                    <a href="https://images.unsplash.com/photo-1515169067868-5387ec356754?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">

                                                                    </a>
                                                                </h3>
                                                                <div class="greennature-portfolio-info">
                                                                    <div class="portfolio-info portfolio-tag">
                                                                        <span class="info-head greennature-title">
                                                                            Tags
                                                                        </span><a href="https://images.unsplash.com/photo-1515169067868-5387ec356754?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                                                                                  class="sep">
                                                                            </span>
                                                                            <!-- <a href="#"
                                                                    rel="tag">Animals</a> -->
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="three columns">
                                                    <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                        <div class="greennature-ux greennature-classic-portfolio-ux">
                                                            <div class="portfolio-thumbnail greennature-image">
                                                                <img src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
                                                                     alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                                                                                                                                                       href="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
                                                                                                                                                       data-rel="fancybox">
                                                                    <span class="portfolio-icon">
                                                                        <i class="fa fa-link"></i>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="portfolio-classic-content">
                                                                <h3 class="portfolio-title">
                                                                    <a href="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80">
                                                                    </a>
                                                                </h3>
                                                                <div class="greennature-portfolio-info">
                                                                    <div class="portfolio-info portfolio-tag">
                                                                        <span class="info-head greennature-title">
                                                                            Tags
                                                                        </span><a href="#" rel="tag"></a><span class="sep">,</span>
                                                                        <!-- <a href="#"
                                                                rel="tag">Volunteer</a> -->
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="three columns">
                                                    <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                        <div class="greennature-ux greennature-classic-portfolio-ux">
                                                            <div class="portfolio-thumbnail greennature-image">
                                                                <img src="https://images.unsplash.com/photo-1579684453423-f84349ef60b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80"
                                                                     alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon"
                                                                                                                                                       href="https://images.unsplash.com/photo-1579684453423-f84349ef60b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80">
                                                                    <span class="portfolio-icon">
                                                                        <i class="fa fa-link"></i>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="portfolio-classic-content">
                                                                <h3 class="portfolio-title">
                                                                    <a href="https://images.unsplash.com/photo-1579684453423-f84349ef60b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80">

                                                                    </a>
                                                                </h3>
                                                                <div class="greennature-portfolio-info">
                                                                    <div class="portfolio-info portfolio-tag">
                                                                        <span class="info-head greennature-title">
                                                                            Tags
                                                                        </span><a href="https://images.unsplash.com/photo-1579684453423-f84349ef60b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80"
                                                                                  rel="tag"></a><span class="sep">,</span>
                                                                        <!-- <a href="#"
                                                                rel="tag">Volunteer</a> -->
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="portfolio-excerpt">
                                                                    <div class="clear"></div><a href="https://images.unsplash.com/photo-1579684453423-f84349ef60b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80"
                                                                                                class="excerpt-read-more"></a>
                                                                </div><a class="portfolio-classic-learn-more"
                                                                         href="https://images.unsplash.com/photo-1579684453423-f84349ef60b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>



                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="section-container container">


                                <div class="clear"></div>
                            </div>
                        </section>
                    </div>

                    <section id="content-section-5">

                        <div class="clear"></div>
                </div>
            </div>

        </div>

    </div>
    </div>

    </section>








    <section id="content-section-6">






        </div>
        <!-- Below Sidebar Section-->
        </div>
        <!-- greennature-content -->
        <div class="clear"></div>
        </div>
        <!-- content wrapper -->
        </div>

        <div id="modalOverlay">
            <div class="modalPopup">

                <div class="modalContent">
                    <span lass="newsletter-submit greennature-button"
                          style="cursor:pointer; font-weight:bolder; float:right; padding-top:20px;" id="button">X</span>
                    <h4 style="color: #0d550c; text-align:center; padding-top:30px; ">Subscribe to our newsletter</h4>
                    <div class="greennature-subscribe-item greennature-item">
                        <div class="greennature-newsletter-subscribe">

                            <div class="newsletter newsletter-subscription">
                                <form method="post" action="#" onsubmit="return newsletter_check(this)" style= media
                                      only screen and (max-width: 600px) { form { width: 70%; } };>
                                    <input class="newsletter-email" type="email" name="ne" size="50" required
                                           placeholder="Please fill your email" />
                                    <button class="newsletter-submit greennature-button" id="button">Subscribe</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>










        </div>




        <!-- body-wrapper -->


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript">
    jquery.$(document).ready(function () {
        if (jquery.$.cookie('pop') == null) {
            jquery.$('#modalOverlay').modal('show');
            jquery.$.cookie('pop', '1');
        }
    });
</script>