@{
    ViewData["Title"] = "Member";
}


<body data-rsssl=1
      class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
    <div class="body-wrapper  float-menu" data-home="https://demo.goodlayers.com/greennature/">
     
        <!-- is search -->


        <div class="content-wrapper">
            <div class="greennature-content">

                <!-- Above Sidebar Section-->
                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                    <section id="content-section-1">
                        <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"
                             id="greennature-parallax-wrapper-1" data-bgspeed="0"
                             style="background-image: url('https://images.unsplash.com/photo-1507643179773-3e975d7ac515?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'); padding-top: 260px; padding-bottom: 140px;  width: 100%; background-size:cover">
                            <div class="container">
                                <div class="greennature-title-item">
                                    <div class="greennature-item-title-wrapper greennature-item  greennature-center greennature-extra-large ">
                                        <div class="greennature-item-title-container container">
                                            <div class="greennature-item-title-head">
                                                <h2 class="greennature-item-title greennature-skin-title greennature-skin-border">
                                                    OUR
                                                    MEMBERSHIP
                                                </h2>
                                                <!-- <div class="greennature-item-title-caption greennature-skin-info">Condimentum Ipsum Vestibulum
                                                </div> -->
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>

                    <br>

                    <div class="with-sidebar-wrapper">
                        <section id="content-section-1">
                            <h5 style="text-align:center;font-weight:bolder;color:#0d550c;">
                                BENEFITS OF MEMBERSHIP
                            </h5>

                            <div class="portfolio-item-wrapper type-classic-portfolio" style=" text-align: center; font-size: 16px;">
                                <div class="portfolio-item-holder  greennature-portfolio-column-3">
                                    <div class=" container list-with-icon-caption">
                                        <p>
                                            Iriri Dining Clubis the premier private member’s club dedicated to serving Africa’s top 5% of
                                            female c-suite executives,
                                            business founders and senior level professionals.



                                            Located in the heart of the heart of Victoria Island in the vivacious city of Lagos, this is your
                                            private and exclusive
                                            home away from home where we welcome you to relax, socialise, and propel your business to the next
                                            level. Whether you’re
                                            seeking a supportive community, business growth, and/or other opportunities, why not join us?.
                                        </p>
                                    </div>




                                    <div class="section-container container">


                                        <div class="clear"></div>
                                    </div>
                        </section>
                    </div>


                    <section id="content-section-2">
                        <div class="greennature-color-wrapper  gdlr-show-all no-skin greennature-half-bg-wrapper"
                             style="background-color: #ffffff; ">
                            <div class="greennature-half-bg greennature-bg-solid"
                                 style="background-image: url(https://images.unsplash.com/photo-1556740738-b6a63e27c4df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
                            </div>
                            <div class="container">
                                <div class="six columns"></div>
                                <div class="six columns">
                                    <div class="greennature-item greennature-about-us-item greennature-normal">
                                        <div class="about-us-title-wrapper">
                                            <h3 style="color:#0d550c">
                                                BECOMING A MEMBER
                                            </h3>
                                            <div class="about-us-caption greennature-title-font greennature-skin-info">
                                            </div>
                                            <div class="about-us-title-divider"></div>
                                        </div>
                                        <div class="about-us-content-wrapper">
                                            <div class="about-us-content greennature-skin-content">
                                                <ul style="font-size:20px ; font-family: 'Benne'">
                                                    <li>
                                                        Membership is selective with options for those who are living temporarily in Lagos, those
                                                        who live outside of Lagos and
                                                        of course outside of Nigeria.
                                                    </li>
                                                    <br>
                                                    <li>
                                                        Membership is selective with options for those who are living temporarily in Lagos, those
                                                        who live outside of Lagos and
                                                        of course outside of Nigeria.
                                                    </li>
                                                    <br>
                                                    <li>
                                                        Membership is selective with options for those who are living temporarily in Lagos, those
                                                        who live outside of Lagos and
                                                        of course outside of Nigeria.
                                                    </li>
                                                </ul>
                                                <!-- </div><a class="about-us-read-more greennature-button" href="#">Read More</a> -->
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                    </section>

                    <br>
                    <section id="content-section-4">
                        <div class="greennature-color-wrapper   " style="background-color: #ffffff; ">
                            <div class="container">
                                <div class="greennature-title-item" style="margin-bottom: 40px;">
                                    <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
                                        <div class="greennature-item-title-container container">
                                            <div class="greennature-item-title-head">
                                                <h3 class="greennature-item-title greennature-skin-title greennature-skin-border"
                                                    style="text-align:center;">
                                                    Our Subscription Packages
                                                </h3>
                                                </h3>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="greennature-personnel-item-wrapper">
                                    <div class="clear"></div>
                                    <div class="four columns">
                                        <div class="greennature-item greennature-personnel-item greennature-left plain-style"
                                             style="background-color: #0d550c; border-radius: 5px;">
                                            <div class="greennature-ux greennature-personnel-ux">
                                                <div class="personnel-item">
                                                    <!-- <div class="personnel-author-image greennature-skin-border"><img src="upload/personnel-3.jpg"
                                                                          alt="" width="500" height="297" /></div> -->
                                                    <div class="personnel-info">
                                                        <h5 style="text-align:center; color:white">
                                                            Amuse-Bouche
                                                        </h5>
                                                        <h1 style="text-align:center;color:white;">
                                                            N1,800,000.
                                                        </h1>
                                                    </div>
                                                    <div class="personnel-content greennature-skin-content">
                                                        <ul style="color:white; font-size:16px">
                                                            <li>
                                                                Membership is selective with options for those who are living temporarily in Lagos,
                                                                those
                                                                who live outside of Lagos and
                                                                of course outside of Nigeria.
                                                            </li>

                                                            <li>
                                                                Membership is selective with options for those who are living temporarily in Lagos,
                                                                those
                                                                who live outside of Lagos and
                                                                of course outside of Nigeria.
                                                            </li>

                                                            <li>
                                                                Membership is selective with options for those who are living temporarily in Lagos,
                                                                those
                                                                who live outside of Lagos and
                                                                of course outside of Nigeria.
                                                            </li>
                                                        </ul>

                                                    </div>

                                                </div>
                                            </div>
                                            <a class="about-us-read-more greennature-button" href="../greennature/reg file/register.html"
                                               style="margin-left: 70px; background-color: #fff; color:#0d550c; text-align: center; width: 40%;">
                                                join
                                            </a>
                                        </div>

                                    </div>
                                    <div class="four columns">
                                        <div class="greennature-item greennature-personnel-item greennature-left plain-style"
                                             style="background-color: #0d550c;  border-radius: 5px;">
                                            <div class="greennature-ux greennature-personnel-ux">
                                                <div class="personnel-item">
                                                    <!-- <div class="personnel-author-image greennature-skin-border"><img src="upload/personnel-3.jpg"
                                                        alt="" width="500" height="297" /></div> -->
                                                    <div class="personnel-info">
                                                        <h5 style="text-align:center; color:white">
                                                            Hors d'oeures </h4>
                                                            <h1 style="text-align:center;color:white;">
                                                                N1,260,000
                                                            </h1>
                                                    </div>
                                                    <div class="personnel-content greennature-skin-content">
                                                        <ul style="color:white; font-size:16px">
                                                            <li>
                                                                Membership is selective with options for those who are living temporarily in Lagos,
                                                                those
                                                                who live outside of Lagos and
                                                                of course outside of Nigeria.
                                                            </li>
                                                            <li>
                                                                Membership is selective with options for those who are living temporarily in Lagos,
                                                                those
                                                                who live outside of Lagos and
                                                                of course outside of Nigeria.
                                                            </li>
                                                            <li>
                                                                Membership is selective with options for those who are living temporarily in Lagos,
                                                                those
                                                                who live outside of Lagos and
                                                                of course outside of Nigeria.
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <a class="about-us-read-more greennature-button" href="../greennature/reg file/register.html"
                                               style="margin-left: 70px; background-color: #fff; color:#0d550c; text-align: center; width: 40%;">
                                                join
                                            </a>
                                        </div>
                                    </div>
                                    <div class="four columns">
                                        <div class="greennature-item greennature-personnel-item greennature-left plain-style"
                                             style="background-color: #0d550c; border-radius: 5px;">
                                            <div class="greennature-ux greennature-personnel-ux">
                                                <div class="personnel-item">
                                                    <!-- <div class="personnel-author-image greennature-skin-border"><img src="upload/personnel-3.jpg"
                                                                          alt="" width="500" height="297" /></div> -->
                                                    <div class="personnel-info">
                                                        <h5 style="text-align:center; color:white">
                                                            Entree
                                                        </h5>
                                                        <h1 style="text-align:center;color:white;">
                                                            N1,250,000
                                                        </h1>
                                                    </div>
                                                    <div class="personnel-content greennature-skin-content">
                                                        <ul style="color:white; font-size:16px">
                                                            <li>
                                                                Membership is selective with options for those who are living temporarily in Lagos,
                                                                those
                                                                who live outside of Lagos and
                                                                of course outside of Nigeria.
                                                            </li>
                                                            <li>
                                                                Membership is selective with options for those who are living temporarily in Lagos,
                                                                those
                                                                who live outside of Lagos and
                                                                of course outside of Nigeria.
                                                            </li>
                                                            <li>
                                                                Membership is selective with options for those who are living temporarily in Lagos,
                                                                those
                                                                who live outside of Lagos and
                                                                of course outside of Nigeria.
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <a class="about-us-read-more greennature-button" href="../greennature/reg file/register.html"
                                               style="margin-left: 70px; background-color: #fff; color:#0d550c; text-align: center; width: 40%;">
                                                join
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="four columns">
                                        <div class="greennature-item greennature-personnel-item greennature-left plain-style">
                                            <div class="greennature-ux greennature-personnel-ux">
                                                <div class="personnel-item">
                                                    <div class="personnel-author-image greennature-skin-border"></div>
                                                    <div class="personnel-info"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>

                    <br>








                </div>
                <!-- Below Sidebar Section-->

            </div>
            <!-- greennature-content -->
            <div class="clear"></div>
        </div>

        <!-- content wrapper -->





    </div>
    <!-- body-wrapper -->

    <footer class="footer-wrapper">
        <div class="footer-container container">
            <div class="footer-column three columns" id="footer-widget-1">
                <div id="text-5" class="widget widget_text greennature-item greennature-widget">
                    <div class="textwidget">
                        <p><img src="upload/logo.png" style="width: 170px;" alt="" /></p>
                        <p>
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Morbi leo risus, porta. Etiam porta sem malesuada magna mollis euismod.
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-column three columns" id="footer-widget-2">
                <div id="text-9" class="widget widget_text greennature-item greennature-widget">
                    <h3 class="greennature-widget-title">Contact Info</h3>
                    <div class="clear"></div>
                    <div class="textwidget">
                        <span class="clear"></span><span class="greennature-space"
                                                         style="margin-top: -6px; display: block;"></span> Address: 184 Main Collins Street West
                        Victoria 8007

                        <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

                        <i class="greennature-icon fa fa-phone" style="vertical-align: middle; color: #fff; font-size: 16px; "></i>
                        +1800-222-3333

                        <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

                        <i class="greennature-icon fa fa-mobile" style="vertical-align: middle; color: #fff; font-size: 20px; "></i>
                        +1833-232-3443

                        <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

                        <i class="greennature-icon fa fa-envelope-o"
                           style="vertical-align: middle; color: #fff; font-size: 16px; "></i>
                        contact@greennaturewp.com
                    </div>
                </div>
            </div>
            <div class="footer-column three columns" id="footer-widget-3">
                <div id="gdlr-recent-post-widget-5"
                     class="widget widget_gdlr-recent-post-widget greennature-item greennature-widget">
                    <h3 class="greennature-widget-title">Previous Events</h3>
                    <div class="clear"></div>
                    <div class="greennature-recent-post-widget">
                        <div class="recent-post-widget">
                            <div class="recent-post-widget-thumbnail">
                                <a href="#">
                                    <img src="https://images.unsplash.com/photo-1523580494863-6f3031224c94?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                                         alt="" width="150" height="150" />
                                </a>
                            </div>
                            <div class="recent-post-widget-content">
                                <div class="recent-post-widget-title"><a href="#">STech Submit</a></div>
                                <div class="recent-post-widget-info">
                                    <div class="blog-info blog-date greennature-skin-info">
                                        <i class="fa fa-clock-o"></i><a href="#">
                                            28 Mar
                                            2021
                                        </a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="recent-post-widget">
                            <div class="recent-post-widget-thumbnail">
                                <a href="#">
                                    <img src="https://images.unsplash.com/photo-1503428593586-e225b39bddfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
                                         alt="" width="150" height="150" />
                                </a>
                            </div>
                            <div class="recent-post-widget-content">
                                <div class="recent-post-widget-title">
                                    <a href="#">The event</a>
                                </div>
                                <div class="recent-post-widget-info">
                                    <div class="blog-info blog-date greennature-skin-info">
                                        <i class="fa fa-clock-o"></i><a href="#">
                                            21 Mar
                                            2021
                                        </a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="footer-column three columns" id="footer-widget-4">
                <div id="gdlr-recent-portfolio2-widget-6"
                     class="widget widget_gdlr-recent-portfolio2-widget greennature-item greennature-widget">
                    <h3 class="greennature-widget-title">The Experience</h3>
                    <div class="clear"></div>
                    <div class="greennature-recent-port2-widget">
                        <div class="recent-port-widget-thumbnail">
                            <a href="#">
                                <img src="https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                                     alt="" width="150" height="150" />
                            </a>
                        </div>
                        <div class="recent-port-widget-thumbnail">
                            <a href="#">
                                <img src="https://images.unsplash.com/photo-1515169067868-5387ec356754?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                                     alt="" width="150" height="150" />
                            </a>
                        </div>
                        <div class="recent-port-widget-thumbnail">
                            <a href="#">
                                <img src="https://images.unsplash.com/photo-1543242594-c8bae8b9e708?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
                                     alt="" width="150" height="150" />
                            </a>
                        </div>
                        <div class="recent-port-widget-thumbnail">
                            <a href="#">
                                <img src="https://images.unsplash.com/photo-1593113598332-cd288d649433?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                                     alt="" width="150" height="150" />
                            </a>
                        </div>
                        <div class="recent-port-widget-thumbnail">
                            <a href="#">
                                <img src="https://images.unsplash.com/photo-1593113598332-cd288d649433?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                                     alt="" width="150" height="150" />
                            </a>
                        </div>
                        <div class="recent-port-widget-thumbnail">
                            <a href="#">
                                <img src="https://images.unsplash.com/photo-1480455454781-1af590be2a58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80/"
                                     alt="" width="150" height="150" />
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="copyright-wrapper">
            <div class="copyright-container container">
                <div class="copyright-left">
                    <a href="http://facebook.com/goodlayers">
                        <i class="greennature-icon fa fa-facebook"
                           style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i>
                    </a> <a href="http://twitter.com/goodlayers">
                        <i class="greennature-icon fa fa-twitter"
                           style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i>
                    </a> <a href="#">
                        <i class="greennature-icon fa fa-dribbble"
                           style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i>
                    </a> <a href="#">
                        <i class="greennature-icon fa fa-pinterest"
                           style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i>
                    </a> <a href="#">
                        <i class="greennature-icon fa fa-google-plus"
                           style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i>
                    </a> <a href="#">
                        <i class="greennature-icon fa fa-instagram"
                           style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i>
                    </a>
                </div>
                <div class="copyright-right">
                    Copyright 2021 Electronic Payplus, All Right Reserved
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </footer>

    <div class="greennature-payment-lightbox-overlay" id="greennature-payment-lightbox-overlay"></div>
    <div class="greennature-payment-lightbox-container" id="greennature-payment-lightbox-container">
    
        </div>
    </div>


</body>

