
@{
    ViewData["Title"] = "About Us";
}

<body data-rsssl=1
      class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
    <div class="body-wrapper  float-menu" data-home="https://demo.goodlayers.com/greennature/">

        <!-- is search -->


        <div class="with-sidebar-wrapper">
            <section id="content-section-1">
                <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin"
                     id="greennature-parallax-wrapper-1" data-bgspeed="0"
                     style="background-image: url('https://images.unsplash.com/photo-1511945863317-d60e146e9016?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1474&q=80'); padding-top: 260px; padding-bottom: 140px; ">
                    <div class="container">
                        <div class="greennature-title-item">
                            <div class="greennature-item-title-wrapper greennature-item  greennature-center greennature-extra-large ">
                                <div class="greennature-item-title-container container">
                                    <div class="greennature-item-title-head">
                                        <h2 class="greennature-item-title greennature-skin-title greennature-skin-border">
                                            ABOUT US
                                        </h2>
                                        <!-- <div class="greennature-item-title-caption greennature-skin-info">Condimentum Ipsum Vestibulum
                                </div> -->
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>

            <section id="content-section-2">
                <div class="greennature-color-wrapper  gdlr-show-all no-skin greennature-half-bg-wrapper"
                     style="background-color: #ffffff; ">
                    @*<div class="greennature-half-bg greennature-bg-solid"
                         style="background-image: url(https://images.unsplash.com/photo-1519167758481-83f550bb49b3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80);">
                    </div>*@
                 
                </div>
                <div class="clear"></div>
            </section>



            <div class="with-sidebar-wrapper">
                <section id="content-section-1">

                    <h2 style="text-align:center;font-weight:bolder;color:#0d550c;">ABOUT US</h2>

                    <div class="portfolio-item-wrapper type-classic-portfolio" style=" text-align: center; font-size: 18px;">
                        <div class="portfolio-item-holder  greennature-portfolio-column-3">
                            <div class=" container list-with-icon-caption">
                                <p style="font-size:18px; text-align:center;">
                                    IRIRI was founded on the premise of providing exclusive and unique experiences for
                                    gourmets and thrill-seekers in Lagos, Nigeria as we noticed that this was lacking in the city.
                                    On mapping out a solution, we also realized that although Lagos was home to some of the
                                    world’s most qualified chefs, several of them were underappreciated and needed to be
                                    introduced to aficionados who would honour their craft.
                                </p>
                                <p style="font-size: 18px;text-align: center;">
                                    Our story is thus a simple one, we launched a members-only dining club for individuals who
                                    crave a richer experience in dining whilst simultaneously investing in Nigeria’s culinary
                                    industry by creating life-long contacts and relationships between chefs and the culinary
                                    cognoscente. IRIRI creates an atmosphere for individuals to meet, network and unwind from
                                    the chaos that is Lagos. We welcome you to be a part of our story and take this journey with
                                    us we celebrate culinary excellence.
                                </p>
                            </div>


                            <h5 style="text-align:center;font-weight:bolder;color:#0d550c;">Our Mission</h5>

                            <div class="portfolio-item-wrapper type-classic-portfolio" style=" text-align: center; font-size: 18px;">
                                <div class="portfolio-item-holder  greennature-portfolio-column-3">
                                    <div class=" container list-with-icon-caption">
                                        <p>
                                            Our mission is to create congenial, unique, and purposeful dining and entertainment
                                            experiences for the modern bon vivant, whilst simultaneously creating an opportunity for
                                            chefs to better understand their consumers and improve
                                            their craft.
                                        </p>
                                    </div>

                                    <br>

                                    <h5 style="text-align:center;font-weight:bolder;color:#0d550c;">Our Vision</h5>

                                    <div class="portfolio-item-wrapper type-classic-portfolio"
                                         style=" text-align: center; font-size: 18px;">
                                        <div class="portfolio-item-holder  greennature-portfolio-column-3">
                                            <div class=" container list-with-icon-caption">
                                                <p>
                                                    To be the preferred event curator for exclusive dining and entertainment experiences in
                                                    Lagos by 2026
                                                </p>
                                            </div>



                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="section-container container">


                                        <div class="clear"></div>
                                    </div>
                </section>
            </div>

            <br>

            @*<section id="content-section-4">
                <div class="greennature-color-wrapper   " style="background-color: #ffffff; ">
                    <div class="container">
                        <div class="greennature-title-item" style="margin-bottom: 40px;">
                            <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
                                <div class="greennature-item-title-container container">
                                    <div class="greennature-item-title-head">
                                        <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">
                                            Meet The Team
                                        </h3>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="greennature-personnel-item-wrapper">
                            <div class="clear"></div>
                            <div class="four columns">
                                <div class="greennature-item greennature-personnel-item greennature-left plain-style">
                                    <div class="greennature-ux greennature-personnel-ux">
                                        <div class="personnel-item">
                                            <div class="personnel-author-image greennature-skin-border">
                                                <img src="upload/personnel-1.jpg"
                                                     alt="" width="500" height="297" />
                                            </div>
                                            <div class="personnel-info">
                                                <div class="personnel-author greennature-skin-title">Jennifer Smith</div>
                                                <div class="personnel-position greennature-skin-info">Founder</div>
                                            </div>
                                            <div class="personnel-content greennature-skin-content">
                                                <p>
                                                    Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Lorem ipsum
                                                    dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut
                                                    id elit. Maecenas faucibus mollis interdum.
                                                </p>
                                            </div>
                                            <div class="personnel-social">
                                                <a href="http://facebook.com/" target="_self">
                                                    <i class="greennature-icon fa fa-facebook"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a> <a href="http://twitter.com/" target="_self">
                                                    <i class="greennature-icon fa fa-twitter"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a> <a href="http://linkedin.com/" target="_self">
                                                    <i class="greennature-icon fa fa-linkedin"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a> <a href="http://vimeo.com/" target="_self">
                                                    <i class="greennature-icon fa fa-vimeo"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a> <a href="http://pinterest.com/" target="_self">
                                                    <i class="greennature-icon fa fa-pinterest"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="four columns">
                                <div class="greennature-item greennature-personnel-item greennature-left plain-style">
                                    <div class="greennature-ux greennature-personnel-ux">
                                        <div class="personnel-item">
                                            <div class="personnel-author-image greennature-skin-border">
                                                <img src="upload/personnel-3.jpg"
                                                     alt="" width="500" height="297" />
                                            </div>
                                            <div class="personnel-info">
                                                <div class="personnel-author greennature-skin-title">John Doe</div>
                                                <div class="personnel-position greennature-skin-info">General Manager</div>
                                            </div>
                                            <div class="personnel-content greennature-skin-content">
                                                <p>
                                                    Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Lorem ipsum
                                                    dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut
                                                    id elit. Maecenas faucibus mollis interdum.
                                                </p>
                                            </div>
                                            <div class="personnel-social">
                                                <a href="http://facebook.com/" target="_self">
                                                    <i class="greennature-icon fa fa-facebook"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a> <a href="http://twitter.com/" target="_self">
                                                    <i class="greennature-icon fa fa-twitter"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a> <a href="http://linkedin.com/" target="_self">
                                                    <i class="greennature-icon fa fa-linkedin"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a> <a href="http://vimeo.com/" target="_self">
                                                    <i class="greennature-icon fa fa-vimeo"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a> <a href="http://pinterest.com/" target="_self">
                                                    <i class="greennature-icon fa fa-pinterest"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="four columns">
                                <div class="greennature-item greennature-personnel-item greennature-left plain-style">
                                    <div class="greennature-ux greennature-personnel-ux">
                                        <div class="personnel-item">
                                            <div class="personnel-author-image greennature-skin-border">
                                                <img src="upload/personnel-2.jpg"
                                                     alt="" width="500" height="297" />
                                            </div>
                                            <div class="personnel-info">
                                                <div class="personnel-author greennature-skin-title">Amely Chan</div>
                                                <div class="personnel-position greennature-skin-info">Human Relation</div>
                                            </div>
                                            <div class="personnel-content greennature-skin-content">
                                                <p>
                                                    Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Lorem ipsum
                                                    dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut
                                                    id elit. Maecenas faucibus mollis interdum.
                                                </p>
                                            </div>
                                            <div class="personnel-social">
                                                <a href="http://facebook.com/" target="_self">
                                                    <i class="greennature-icon fa fa-facebook"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a> <a href="http://twitter.com/" target="_self">
                                                    <i class="greennature-icon fa fa-twitter"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a> <a href="http://linkedin.com/" target="_self">
                                                    <i class="greennature-icon fa fa-linkedin"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a> <a href="http://vimeo.com/" target="_self">
                                                    <i class="greennature-icon fa fa-vimeo"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a> <a href="http://pinterest.com/" target="_self">
                                                    <i class="greennature-icon fa fa-pinterest"
                                                       style="vertical-align: middle; color: #999999; font-size: 19px; "></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="four columns">
                                <div class="greennature-item greennature-personnel-item greennature-left plain-style">
                                    <div class="greennature-ux greennature-personnel-ux">
                                        <div class="personnel-item">
                                            <div class="personnel-author-image greennature-skin-border"></div>
                                            <div class="personnel-info"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>*@

        </div>
        <!-- content wrapper -->





    </div>
    <!-- body-wrapper -->



    <div class="greennature-payment-lightbox-overlay" id="greennature-payment-lightbox-overlay"></div>
    <div class="greennature-payment-lightbox-container" id="greennature-payment-lightbox-container">
        <div class="greennature-payment-lightbox-inner">
            <form class="greennature-payment-form" id="greennature-payment-form">
                <h3 class="greennature-payment-lightbox-title">
                    <span class="greennature-tail" style="color: #0d550c;">Please Register To Become A Member</span>
                    <!-- <span class="greennature-tail">Greennature Foundation</span> -->
                </h3>



                <div class="greennature-form-fields">
                    <div class="six columns">
                        <div class="columns-wrap greennature-left">
                            <span class="greennature-head">Name *</span>
                            <input class="greennature-require" type="text" name="name">
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-right">
                            <span class="greennature-head">Last Name *</span>
                            <input class="greennature-require" type="text" name="last-name">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-left">
                            <span class="greennature-head">Email *</span>
                            <input class="greennature-require greennature-email" type="text" name="email">
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-right">
                            <span class="greennature-head">Phone</span>
                            <input type="text" name="phone">
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-left">
                            <span class="greennature-head"> Confirm Password *</span>
                            <input type="password" style="background-color: #ffffff;" name="password">
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-right">
                            <span class="greennature-head">Password *</span>
                            <input type="password" style="background-color: #ffffff;" name="password">
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-left">
                            <span class="greennature-head">Occupation *</span>
                            <input class="greennature-require greennature-email" type="text" name="email">
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-right">
                            <span class="greennature-head">Date Of Birth</span>
                            <input type="date" name="phone">
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-left">
                            <span class="greennature-head">Address</span>
                            <textarea name="address" style="background-color: #ffffff;"></textarea>
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="columns-wrap greennature-right">
                            <span class="greennature-head">Gender</span>
                            <select style="width: 100%; padding: 12px 20px; max-width: 100%; outline:none; border: none;">
                                <option>Male</option>
                                <option>Female</option>

                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <!-- <div class="greennature-payment-method">
                                    <img class="greennature-active" src="images/paypal.png" alt="paypal" /><img
                                        src="images/stripe.png" alt="stripe" />
                                    <input type="hidden" name="payment-method" value="paypal" />
                                </div> -->
                <div class="greennature-message"></div>
                <div class="greennature-loading">Loading...</div>

                <input type="submit" value="Register" />
                <span style="font-size:15px">Already have an account? <a href="#open-modal">Login</a></span>
            </form>
        </div>
    </div>


</body>

